.sidebar {
    background-color: #FF7F5C;
    border-radius: 0px 30px 30px 0px;
    padding-block: 46px;
    padding-inline: 25px;
}

.icon {
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-block: 20px;

}

.logo .icon {
    width: 55px;
    height: 55px;
}