<div class="sidebar vh-100 d-flex flex-column justify-content-between align-items-center   ">
    <div class="logo">
        <img class='icon' src="../../../assets/images/sidebare-images/PMS.svg" alt="">
    </div>
    <div class="links d-flex flex-column">
        <img class='icon' src="../../../assets/images/sidebare-images/control-room.svg" alt="">
        <img class='icon' src="../../../assets/images/sidebare-images/dashboard-apps.svg" alt="">
        <img class='icon' src="../../../assets/images/sidebare-images/elements.svg" alt="">
        <img class='icon' src="../../../assets/images/sidebare-images/settings.svg" alt="">
        <img class='icon' src="../../../assets/images/sidebare-images/notifications.svg" alt="">
    </div>
    <div class="logout">
        <img class='icon' src="../../../assets/images/sidebare-images/logout.svg" alt="">

    </div>
</div>