<div class="navbar d-flex align-items-center justify-content-between  w-100">
    <div class="d-flex align-items-center">
        <div class="nave-group d-flex align-items-center ">
            <div class="d-flex align-items-end">
                <span class="dot mx-2"></span>
                <div><img src="../../../assets/images/navbar-images/gas-station-svgrepo-com.svg" alt=""></div>
            </div>
            <div class="group-number">2/3</div>
            <div class="group-text">Monitored Stations</div>
        </div>
        <div class="nave-group d-flex align-items-center ">
            <div class="d-flex align-items-end">
                <span class="dot mx-2"></span>
                <div><i class="fa-solid fa-rotate-left fa-solids"></i></div>
            </div>
            <div class="group-number">20S</div>
            <div class="group-text">Last Update</div>
        </div>
    </div>
    <div class="days">
        <section class="toggle-menue">
            <mat-button-toggle-group name="dateToggle" aria-label="Date Filter" class="date-toggle-group" value="today"
                [hideSingleSelectionIndicator]="true">
                <mat-button-toggle value="today">Today</mat-button-toggle>
                <mat-button-toggle value="yesterday">Yesterday</mat-button-toggle>
                <mat-button-toggle value="lastWeek">Last Week</mat-button-toggle>
            </mat-button-toggle-group>
        </section>
    </div>
    <div class="calender d-flex justify-content-between">
        <div class="mx-2 d-flex align-items-center">
            <div>
                <i class="calender-icon fa-solid fa-play"></i>
            </div>
            <p-calendar [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
        </div>
        <div class="d-flex align-items-center">
            <div>
                <i class="calender-icon fa-solid fa-square"></i>
            </div>
            <p-calendar [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
        </div>
    </div>
</div>